.left-contents
  .left-contents__top-bar
    .left-contents__top-bar__username
      user name
  .left-contents__main-bar
    =render partial:"group"
    
.main-contents
  .main-contents__top-contents
    .main-contents__top-contents__group-info
      .main-contents__top-contents__group-info__group-name
        タピオカの部屋
      .main-contents__top-contents__group-info__members
        Member : tapioka
    %input.main-contents__top-contents__edit-button{type: "button", value: "Edit"}
      
  .main-contents__middle-contents
    =render partial: "message"
  .main-contents__bottom-contents
    .main-contents__bottom-contents__content
      %form.main-contents__bottom-contents__content__message-form
        %input.main-contents__bottom-contents__content__message-form__text{type: "text", placeholder: "type a message"}
      %label.main-contents__bottom-contents__content__message-form__image
        = fa_icon 'image'
        %input.main-contents__bottom-contents__content__message-form__image__select{type: "file"}
    %input.main-contents__bottom-contents__send-button{type: "button", value: "Send"}
    