!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpaceSample
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "51ngAH5bA/bY934XX+I+3XtqZxLFgSF3lj/MM7h5QpPAl/7ZhBDwELADJYofv1pwul6NKOGe5xxtxyi5ZKyB0A==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js"}
  %body
    .flash-box
    .wrapper
      .chat-side
        .side-header
          .side-header__box
            %p.side-header__box__user-name aaaaa
            %ul.side-header__box__menu
              %li.side-header__box__menu__new-group
                %a{:href => "/groups/new"}
                  %i.fa.fa-edit
              %li.side-header__box__menu__edit-user
                %a{:href => "/users/610/edit"}
                  %i.fa.fa-cog
        .groups
          %a{:href => "/groups/1333/messages"}
            .group
              %p.group__group-name 唐揚げの部屋
              %p.group__latest-message ああああ
          %a{:href => "/groups/1342/messages"}
            .group
              %p.group__group-name Aスタジオ
              %p.group__latest-message aaaaaaaaaaaaaaaaaaaaaaaaaaaa
          %a{:href => "/groups/1408/messages"}
            .group
              %p.group__group-name 宣戦布告(応用カリキュラム解説します)
              %p.group__latest-message ddddddd
          %a{:href => "/groups/1420/messages"}
            .group
              %p.group__group-name assq
              %p.group__latest-message zzz
          %a{:href => "/groups/1453/messages"}
            .group
              %p.group__group-name 質問こたえます
              %p.group__latest-message どんとこい
          %a{:href => "/groups/1126/messages"}
            .group
              %p.group__group-name ass
              %p.group__latest-message https://youtu.be/QCNIu-oVSvk
          %a{:href => "/groups/1146/messages"}
            .group
              %p.group__group-name 唐揚げ
              %p.group__latest-message さあささ
      .chat-main
        .main-header
          .main-header__left-box
            %h2.main-header__left-box__current-group{"data-group_id" => "1420"}
              assq
            %ul.main-header__left-box__member-list
              Member：
              %li.main-header__left-box__member-list__member aaaaa
          %a{:href => "/groups/1420/edit"}
            .main-header__edit-btn Edit
        .messages
          .message{"data-message_id" => "3119"}
            .message__upper-info
              %p.message__upper-info__talker aaaaa
              %p.message__upper-info__date 2019/09/16(Mon) 18:40:20
            %p.message__text a
          .message{"data-message_id" => "3120"}
            .message__upper-info
              %p.message__upper-info__talker aaaaa
              %p.message__upper-info__date 2019/09/16(Mon) 18:42:14
            %p.message__text zzz
        .form
          %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/1420/messages", :enctype => "multipart/form-data", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "2uZ70xD+V6O2S+59pnNv6U6d7mbn0mRG6CXq1rq4nIWa5hgRPqh/bAI0IlGW/NtipBot1omv9c7n21UP5CJTEw=="}/
            .input-box
              %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
              %label.input-box__image{:for => "message_image"}
                %i.fa.fa-image
                %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
            %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
